.board-wrap {
  height: 100vmin;
  padding: 2.5vmin 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.solved-msg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: goldenrod;
  font-size: 10vmin;
  font-weight: 600;
  z-index: 10;
  text-shadow: 0 0 10px #000;
}

.board {
  height: 95vmin;
  width: 95vmin;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 20%;
  height: 20%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  cursor: pointer;
  position: relative;
}

.cell-top {
  border-top: 2px solid #000;
}

.cell-left {
  border-left: 2px solid #000;
}

.cell-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 4vmin;
}

.cell-inner-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-inner-top-bottom {
  width: 100%;
  height: 20%;
}

.cell-inner-side {
  width: 20%;
  height: 60%;
}

.cell-inner-center {
  width: 60%;
  height: 60%;
  font-weight: 600;
}

.loading-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  overflow: hidden;
}

.loading-screen p {
  font-size: 4vmin;
  position: absolute;
  font-weight: 600;
  z-index: 10;
}

.loading-screen .background {
  background-image: radial-gradient(
    circle at 40% 50%,
    #ff9980 5%,
    #ffffb3 10%,
    #b3b3ff 30%,
    #f0b3ff 40%
  );
  animation: rotate 3s linear infinite;
  position: absolute;
  top: -100%;
  left: -100%;
  bottom: -100%;
  right: -100%;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

@media screen and (min-width: 30rem) {
  .board-wrap {
    height: min(75vh, 100vmin);
  }

  .board {
    height: min(70vh, 95vmin);
    width: min(70vh, 95vmin);
  }
}
